<style>
	.hit-box {
		min-height: 100px;
		max-height: 440px;
		overflow-y: scroll;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
		border-radius: 3px;
		border: 1px solid #d6d6e7;
	}

	.search-sub-container {
		width: 300px;
	}
	.ais-SearchBox-input {
		width: 100%;
	}

	#power {
		font-size: 0.6rem;
		display: flex;
		justify-content: right;
	}

	.feedback {
		align-items: center;
		background: #fff;
		display: flex;
		font-size: 0.875rem;
		line-height: 1.25rem;
		padding: 0.8rem;
	}
</style>
<script
	src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.3/dist/algoliasearch-lite.umd.js"
	integrity="sha256-dyJcbGuYfdzNfifkHxYVd/rzeR6SLLcDFYEidcybldM="
	crossorigin="anonymous"
></script>
<script
	src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.49.4/dist/instantsearch.production.min.js"
	integrity="sha256-Ps194FVLiZAj7tXnC/xW7piaYV5EaKB8NWYu1xAN3Rc="
	crossorigin="anonymous"
></script>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/satellite-min.css"
	integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA="
	crossorigin="anonymous"
/>
<base href="{{ site.baseurl }}" />

<script>
	const searchClient = algoliasearch(
		"VZVRIKH0WD",
		"7632330f98e4bfa8d2731641cc0ff3a2"
	);

	const emptyTemplate = function (hit) {
		return `<h3 class="feedback">찾으시는 정보가 없습니다.</h3>`;
	};
	const hitTemplate = function (hit) {
		let url = `{{ site.baseurl }}${hit.url}`;
		const title = hit._highlightResult.title.value;

		return `<h3><a href="${url}" class="sns-link">${title}</a></h3>`;
	};
	const search = instantsearch({
		indexName: "digitalGarden",
		searchClient,
		searchFunction(helper) {
			const test = document.querySelector("#hits");
			test.style.display = helper.state.query === "" ? "none" : "";
			helper.search();
		},
	});

	const searchBox = instantsearch.widgets.searchBox({
		container: "#searchbox",
		placeholder: "궁금하신 개념을 검색해보세요.",
	});
	const hits = instantsearch.widgets.hits({
		container: "#hits",
		templates: {
			empty: emptyTemplate,
			item: hitTemplate,
		},
	});

	const poweredBy = instantsearch.widgets.poweredBy({
		container: "#power",
		cssClass: {
			link: ["ais-PoweredBy-link"],
		},
	});

	search.addWidgets([searchBox, hits, poweredBy]);

	search.start();
</script>
