<div class="container">
	<div class="main">
		<a class="internal-link home" href="{{ site.baseurl }}/"><b>home</b></a>
	</div>

	<div class="nav">
		<a class="internal-link" href="/about"><b>about</b></a>
		<a class="internal-link" href="/portfolio"><b>portfolio</b></a>
		<a class="internal-link" href="/knowledge-mocs"><b>myDigitalGarden</b></a>
	</div>
</div>

<style>
	.container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;
	}

	.main {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav > a {
		margin-left: 30px;
	}

	.sns-bar {
		position: absolute;
		top: -60px;
		right: 0;
		display: flex;
		flex-direction: column;
		gap: 36px;
	}

	#hits {
		top: -100px;
	}

	@media (max-width: 450px) {
		.home {
			display: none;
		}

		.nav > a {
			display: none;
		}

		.sns-bar {
			display: none;
		}
	}
</style>
