<div class="container">
	<div class="main">
		<img
			src="https://avatars.githubusercontent.com/u/93697790?s=400&u=4e9dc7faba3cc479e3bd44569cd53ff74674ef62&v=4"
			alt="github"
			style="
				width: 80px;
				height: 80px;
				border-radius: 50px;
				margin: 0;
				margin-right: 20px;
			"
		/>
		<a class="internal-link home" href="{{ site.baseurl }}/"><b>home</b></a>
	</div>
	<div class="nav">
		<a class="internal-link" href="/about"><b>about</b></a>
		<a class="internal-link" href="/portfolio"><b>portfolio</b></a>
		<a class="internal-link" href="/knowledge-mocs"><b>myDigitalGarden</b></a>
	</div>
	<div class="sns-bar">
		<a class="sns-link" href="https://github.com/CodyMan0" target="_blank"
			><img
				style="width: 36px; height: 36px; margin: 0"
				src="https://cdn-icons-png.flaticon.com/512/2111/2111610.png"
				alt="github"
		/></a>
		<a
			class="sns-link"
			href="https://www.instagram.com/ju0_glorylord"
			target="_blank"
			><img
				style="width: 36px; height: 36px; margin: 0"
				src="https://cdn-icons-png.flaticon.com/512/1077/1077042.png"
				alt="instagram"
		/></a>

		<a class="sns-link" href="https://velog.io/@sharphand1" target="_blank">
			<img
				style="width: 36px; height: 36px; margin: 0"
				src="https://cdn-icons-png.flaticon.com/512/3959/3959420.png"
				alt="blog"
		/></a>

		<a class="sns-link" href="mailto:hys83751952@gmail.com" target="_blank">
			<img
				style="width: 36px; height: 36px; margin: 0"
				src="https://cdn-icons-png.flaticon.com/512/542/542638.png"
				alt="blog"
		/></a>
	</div>
</div>

<style>
	.container {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 50px;
	}

	.main {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.nav > a {
		margin-left: 30px;
	}

	.sns-bar {
		position: absolute;
		top: -60px;
		right: 0;
		display: flex;
		gap: 36px;
	}

	@media (max-width: 450px) {
		.home {
			display: none;
		}

		.nav > a {
			display: none;
		}

		.sns-bar {
			display: none;
		}
	}
</style>
