<!DOCTYPE html>
<html lang="ko">
	<link
		rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/satellite-min.css"
		integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA="
		crossorigin="anonymous"
	/>

	{% include head.html %}
	<body>
		<nav>{% include nav.html %}</nav>
		<div class="wrapper">
			<main>{{ content }}</main>
		</div>
		{% include link-previews.html wrapperQuerySelector="content" %}
		<script
			src="https://cdn.jsdelivr.net/npm/algoliasearch@4.14.3/dist/algoliasearch-lite.umd.js"
			integrity="sha256-dyJcbGuYfdzNfifkHxYVd/rzeR6SLLcDFYEidcybldM="
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.49.4/dist/instantsearch.production.min.js"
			integrity="sha256-Ps194FVLiZAj7tXnC/xW7piaYV5EaKB8NWYu1xAN3Rc="
			crossorigin="anonymous"
		></script>
		<script>
			let searchClient = algoliasearch(
				"VZVRIKH0WD",
				"7632330f98e4bfa8d2731641cc0ff3a2"
			);

			let additionalClass = "";

			const hitTemplate = function (hit) {
				return;
				`<div class="post-item ${additionalClass}">
						<a href=${hit.url}>${hit.title}</a>
			    </div>`;
			};
			const search = instantsearch({
				indexName: "digitalGarden",
				searchClient,
				searchFunction: function (helper) {
					if (helper.query === "") {
						additionalClass = "post-item__empty-query";
					} else {
						additionalClass = "";
					}
					helper.search();
				},
			});

			search.addWidgets([
				instantsearch.widgets.searchBox({
					container: "#searchbox",
					placeholder: "Search what you wanna know",
					autofocus: false,
					poweredBy: true,
				}),

				instantsearch.widgets.hits({
					container: "#hits",
					hitsPerPage: 10,
					templates: {
						item: hitTemplate,
					},
				}),
			]);

			search.start();
		</script>
	</body>
</html>
